.header {
    padding: 50px; /* some padding */
    text-align: center; /* center the text */
    background: #01395a; /* background */
    color: rgb(255, 255, 255); /* white text color */
    margin:0px;
  }
  
  /* Increase the font size of the <h1> element */
  .header h1 {
    font-size: 40px;
    top: 50%;
    text-align: center;
    vertical-align: middle;
  }

  .navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #000000; /* Dark background color */
    border: 5px solid #01395a;
    text-align: center;
    display: block;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    top: 50%;
    left: 50%;
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: rgb(255, 255, 255); /* White text color */
    text-align: center; /* Center the text */
    padding: 16px 24px; /* Add some padding */
    text-decoration: none; /* Remove underline */
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: inline-start; /* Float a link to the right */
    left: 50%;
  }
  
  /* Change color on hover/mouse-over */
  .navbar a:hover {
    background-color:#01395a; /* Grey background color */
    color: white; /* Black text color */
  }

  /* Ensure proper sizing */
* {
    box-sizing: border-box;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%; /* Set the width of the sidebar */
    background-color: white; /* Grey background color */
    padding: 20px; /* Some padding */
    border: 5px solid #01395a;
  }
  
  /* Main column */
  .main {
    flex: 70%; /* Set the width of the main content */
    background-color: #dfdfdf; /* background color */
    padding: 20px; /* Some padding */
    border: 5px solid #01395a;
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

  .footer {
    padding: 5px; /* Some padding */
    text-align: center; /* Center text*/
    background: #01395a; /*background */
    color: rgb(255, 255, 255);
  }


  body {
    font-family: bahnschrift;
}

ul {
    font-family: bahnschrift;
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
    font-family: monospace;
  }