/*Header for top of page*/
.header {
    padding: 30px;
    text-align: center; 
    background: #01395a; 
    color: white; 
    margin:0px;
  }
  
  .header h1 {
    font-size: 40px;
    top: 50%;
    text-align: center;
    vertical-align: middle;
    color: white;
  }

  /*Simple navbar for traversing views*/
  .navbar {
    overflow: hidden; 
    background-color: #000000; 
    border: 0px solid #01395a;
    text-align: center;
    padding: 0px 0px;
    margin: 0px;
  }
  
  .navbar ul {
    float: none; 
    top: 50%;
    display: block; 
    text-align: center; 
    padding: 0px 0px; 
    margin: 0px;
  }
  
  /* Hover element for interactive website */
  .navbar ul li:hover {
    background-color:#01395a; 
    color: white; 
    padding: 10px 10px;
  }

  .navbar ul li{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 10px; 
    font-size: 16pt;
  }

  .navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 28px 28px; 
  }


/*Border box as base style*/
* {
    box-sizing: border-box;
  }
  
  /*Row comprised of two columns*/
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two  columns that sits next to each other */
  .side {
    flex: 20%; 
    background-color: #01395a; 
    padding: 15px; 
    border: 30px solid white; 
    border-bottom: #01395a;
    border-top: #01395a;
    color: white;
  }

  .side h1{
    color: white;
  }


  .main {
    flex: 60%; 
    background-color: white; 
    padding: 20px; 
    border: 30px solid #01395a;
    border-bottom: hidden;
    border-top: hidden;
  }

  /*Columns for project page are slightly different*/
  .sideP{
    flex: 60%; 
    background-color: white; 
    padding: 30px; 
    padding-top: 20px;
    border: 30px solid #01395a;
    border-top: hidden;
  }

  .mainP{
    flex: 20%; 
    background-color: #01395a; 
    padding: 30px; 
    border: 30px solid white;
    border-right: hidden;
    border-top: hidden;
    color: white;
  }

  .mainP h1{
    color: white;
  }

    /* Center a image */
  .centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

 /* Center a image */
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  /*  Footer or a spacer */
  .footer {
    padding: 35px; 
    text-align: center; 
    background: #01395a; 
    color: rgb(255, 255, 255);
    margin: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .footer h1{
    color: rgb(255, 255, 255);
  }

 /* Font for body */
  body {
    font-family: Segoe UI,sans-serif;
}

/* List font no longer different */
ul {
    font-family: Segoe UI,sans-serif;
}

/* list bullet points*/
li {
    list-style: disc;
    text-decoration: none;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
    font-family: monospace;
  }

  p {
    margin: 0px;
    padding: 3px;
 }

  /*Header is blue color*/
 h1{
  color: #01395a;
 }

 /* Manage sub header spacing*/
 h2{
  margin: 0px;
  padding: 3px;
  padding-bottom: 3px;
 }
