.header {
    padding: 45px; /* some padding */
    text-align: center; /* center the text */
    background: #01395a; /* background */
    color: white; /* white text color */
    margin:0px;
  }

  .header h1{
    color: white;
  }
  
  /* Increase the font size of the <h1> element */
  .header h1 {
    font-size: 40px;
    top: 50%;
    text-align: center;
    vertical-align: middle;
  }

  .navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #000000; /* Dark background color */
    border: 0px solid #01395a;
    text-align: center;
    padding: 0px 0px;
    margin: 0px;
  }
  
  /* Style the navigation bar links */
  .navbar ul {
    float: none; /* Make sure that the links stay side-by-side */
    top: 50%;
    display: block; /* Change the display to block, for responsive reasons (see below) */
    text-align: center; /* Center the text */
    padding: 0px 0px; /* Add some padding */
    margin: 0px;
  }
  
  /* Right-aligned link
  .navbar ul.right {
    float: inline-start;
    left: 50%;
  }*/
  
  /* Change color on hover/mouse-over */
  .navbar ul li:hover {
    background-color:#01395a; /* Grey background color */
    color: white; /* Black text color */
    padding: 10px 10px;
  }

  .navbar ul li{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 10px; /* Add some padding */
  }

  .navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 28px 28px; /* Add some padding */
  }


  /* Ensure proper sizing */
* {
    box-sizing: border-box;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 25%; /* Set the width of the sidebar */
    background-color: rgb(143, 143, 143); /* Grey background color */
    padding: 20px; /* Some padding */
    border: 10px solid #01395a;
  }

  .sideHalf{
    flex: 50%; /* Set the width of the sidebar */
    background-color: rgb(143, 143, 143); /* Grey background color */
    padding: 20px; /* Some padding */
    border: 10px solid #01395a;
  }

  .mainHalf{
    flex: 50%; /* Set the width of the main content */
    background-color: #dfdfdf; /* background color */
    padding: 20px; /* Some padding */
    border: 10px solid #01395a;
  }

    /* Center a image */
  .centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  /* Main column */
  .main {
    flex: 75%; /* Set the width of the main content */
    background-color: #dfdfdf; /* background color */
    padding: 20px; /* Some padding */
    border: 10px solid #01395a;
  }

  .footer {
    padding: 5px; /* Some padding */
    text-align: center; /* Center text*/
    background: #01395a; /*background */
    color: rgb(255, 255, 255);
  }

  .footer h1{
    color: rgb(255, 255, 255);
  }


  body {
    font-family: bahnschrift;
}

ul {
    font-family: bahnschrift;
}

li {
    list-style: disc;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
    font-family: monospace;
  }

  p {
    margin: 0px;
    padding: 3px;
 }

 h1{
  color: #01395a;
 }

 h2{
  margin: 0px;
  padding: 3px;
  padding-bottom: 3px;
 }
