<!DOCTYPE html>

<html>
    <head> 
        <title> Welcome Seaghan Ennis's Website Resume!</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="header">
            <h1>Welcome to Seaghan Ennis's Website</h1>
            <p>Under construction - more to follow</p>
          </div> 
          
    <div class="navbar">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#" class="right">Link</a>
        </div>
    </body>
</body>
</html>