<!DOCTYPE html>
<html>
    <head> 
        <title> Welcome Seaghan Ennis's Website Resume!</title>
    </head>
    <body>
        <h1>Welcome Seaghan Ennis's Website Resume!</h1>
        <p>Under Construction. More to follow soon!</p>
    </body>
</html>