<!DOCTYPE html>

<html>
    <head> 
        <title> Hello, I am Seaghan Ennis</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body style = "margin:0" >

        <div class="header">
            <h1>Greetings, I am Seaghan Ennis</h1>
            <p>Software Developer</p>
            <!--<img src="/img/Headshot.png" alt="Photo" width = "162" height = "217" style="vertical-align:middle">-->
          </div> 


    <div class="navbar" style="border-bottom-width: 5px;">
        <a href="/">Home</a>
        <a href="/projects">My Projects</a>
        <a href="/">About</a>

    </div>
    
    <div class="row">
        <div class="side">    
            <h1 style="text-align: center;">About Me</h1>
            <ul>
                <li>Full Name: Seaghan Aiden Ennis</li>
                <li>Age: 21</li>
                <li>Gender: Male</li>
                <li>Location: Colorado Springs Colorado</li>
            </ul>

            <!-- <img style="position:relative;bottom: 260px;float: right;" src="/img/Headshot.png" width = "162" height = "217" alt="Photo"> -->
        </div>
        <div class="main" style="border-left-style: hidden">
            <h1>Who Am I?</h1>
            <p></p>
            <p>My name is Seaghan Ennis and I am a student at the University of Colorado: Colorado Springs.</p>
            <p>I am an active student, who is in the process of putting myself through my last year of college. My emphasis has always been based on learning and adapting to new environments, so that I and my peers can excel and grow. I am happy to work with any team to best serve the needs of the business. I am proud to lead when chosen, and happy to follow when called upon.
                <br><br>I have extensive practice in compiled object-oriented languages like Java, C#, C++. Additionally, I have experience in interpreted languages like Ruby, Python. I also have worked with C, x86-Assembly, and RISC-V instruction sets.
                <br><br>This website is a project I created to help me learn JavaScript, as well as keep up on HTML and CSS. You can find all of the code used to create this by hand on my GitHub Page.
                <br><br>I am used to working in shared repositories and version control systems like GitHub and other Git based systems. I have, also, used containerized or virtual machine systems like Docker and Microsoft Azure.</p>
        </div>
    </div>

    <div class="footer">
        <h1 style ="text-align: center">Educuation</h1></div>
    </div>

    <div class="row">
        <div class="main">
            <h2>Bachelors of Computer Science</h2>
            <p><em>Current Student at the University of Colorado in Colorado Springs</em></p>
            <p>GPA: 3.97</p>
            <h2><br>Associates of Science</h2>
            <p><em>Earned from Pikes Peak Community College in 2019</em></p>
            <h2><br>Highschool Diploma</h2>
            <p><em>Earned from Pikes Peak Early College and SSAE in 2018</em></p>
            <p>wGPA: 4.45</p>
        </div>
        <div class="side" style="border-left-style: hidden"> 
            <h1 style="text-align: center;">Awards</h1>
            <ul>
                <li>Presidents List at University of Colorado: Colorado Springs for Fall 2021 and 2020</li>
                <li>Presidents List at Pikes Peak Community College Springs for Spring 2019</li>
                <li>Academic Scholar Award at SSAE for the Graduating Class of 2018</li>
              </ul> 
        </div>
    </div>

    <div class="footer">
        <h1 style ="text-align: center">Work History</h1></div>
    </div>

    <div class="row">
        <div class="side">
            <h1 style="text-align: center;">Programming Languages</h1>
            <ul>
                <li>Traditional: C, C#, C++, Java, Python</li>
                <li>Back-End: JavaScipt/Node.js, Ruby on Rails</li>
                <li>Front-End: HTML, CSS</li>
                <li>Assembly: x86-Assembly, RISC-V</li>
            </ul>
            <p></p><p></p>
            <h1 style="text-align: center;">Soft Skills</h1>
            <ul>
                <li>Adaptable and Ready to Learn</li>
                <li>Dependable and Timely</li>
                <li>Public Speaking and Attention to Detail</li>
            </ul>
        </div>
        <div class="main" style="border-left-style: hidden">
            <h2>Green Empire Tree Service </h2>
            <p><em>Ground Manager/Woodchipper Operator</em></p>
            <p>Safety supervisor, operating and maintenance of heavy machinery and equipment</p>
            <p>Coordinated grounds cleanup, prioritizing quick and neat work<br><br></p>

            <p></p>

            <h2>DeMolay International</h2>
            <p><em>International Vice President</em></p>
            <p>Served as a Class 5 Represenative on the International Board of Directors</p>
            <p>Maintained and built programs to develop the young men within the organization</p>
            <p>Elected to lead and plan an international conference using Roberts Rules of Order<br><br></p>

            <p></p>

            <h2>Beacon Plumbing LLC</h2>
            <p><em>Apprentice Plumber</em></p>
            <p>Cut and fit PVC, PEX, brass, and cast-iron pipes according to state and county standards</p>
        </div>
    </div>

    <div class="footer">
        <h1 style ="text-align: center">Find Me On</h1>
        <a href="https://github.com/seaghan2000"  style="text-decoration: none;vertical-align:middle"><img src="/img/GitHub.png" style="vertical-align:middle" width = "64" height = "64" alt="GitHub"></a>
            <a href="https://www.facebook.com/seaghan.ennis" style="text-decoration: none;vertical-align:middle"><img src="/img/Facebook.png" style="vertical-align:middle" width = "64" height = "64" alt="Instagram"></a>
            <a href="https://www.instagram.com/seaghanennis/?hl=en" style="text-decoration: none;vertical-align:middle"><img src="/img/Instagram.png" style="vertical-align:middle" width = "64" height = "64" alt="Instagram"></a>
            <a href="https://www.linkedin.com/in/seaghan-ennis" style="text-decoration: none;vertical-align:middle"><img src="/img/LinkedIn.png" style="vertical-align:middle" width = "64" height = "64" alt="LinkedIn"></a>
            <a href="mailto:seaghan00@gmail.com" style="text-decoration: none;"><img src="/img/EmailAlt.png" style="vertical-align:middle" width = "64" height = "64" alt="Email"></a>
    </div>
  
    </body>
</body>
</html>