<!DOCTYPE html>

<html>
    <head> 
        <title> Hello, I am Seaghan Ennis</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body style = "margin:0">
        <div class="header">
            <h1>Hello, I am Seaghan Ennis</h1>
            <p>Software Developer</p>
          </div> 


    <div class="navbar">
        <a href="/">Home</a>
        <a href="#">My Projects</a>
        <a href="https://github.com/seaghan2000">About Me</a>
        <a href="#" class="right">About</a>
        </div>
    
    <div class="row">
        <div class="side">    
            <h1>Contact Me</h1>
            <a href="https://github.com/seaghan2000"><img src="/img/GitHub.png" width = "32" height = "32" alt="GitHub">GitHub</a>
            <p></p>
            <a href="https://www.linkedin.com/in/seaghan-ennis"><img src="/img/LinkedIn.jpg" width = "32" height = "32" alt="LinkedIn"> LinkedIn</a>
            <p></p>
            <a href="https://www.instagram.com/seaghanennis/?hl=en"><img src="/img/Instagram.png" width = "32" height = "32" alt="Instagram"> Instagram</a>
            <p></p>
            <a href="mailto:seaghan00@gmail.com"><img src="/img/Email.jpg" width = "32" height = "32" alt="Email">Email Me</a>
            <p></p>
            <img style="position:relative;bottom: 260px;float: right;" src="/img/Headshot.png" width = "202" height = "271" alt="Photo">
        </div>
        <div class="main" style="border-left-style: hidden">
            <h1>Who Am I?</h1>
            <p></p>
            <p>My name is Seaghan Ennis and I am a student at the University of Colorado: Colorado Springs.</p>
            <p>I am an active student, who is in the process of putting myself through my last year of college. My emphasis has always been based on learning and adapting to new environments, so that I and my peers can excel and grow. I am happy to work with any team to best serve the needs of the business. I am proud to lead when chosen, and happy to follow when called upon.

                <br><br>I have extensive practice in compiled object-oriented languages like Java, C#, C++. Additionally, I have experience in interpreted languages like Ruby, Python. I also have worked with C, x86-Assembly, and RISC-V instruction sets.
                
                <br><br>This website is a project I created to help me learn JavaScript, as well as keep up on HTML and CSS.

                <br><br>I am used to working in shared repositories and version control systems like GitHub and other Git based systems. I have used containerized or virtual machine systems like Docker and Microsoft Azure.</p>
        </div>
    </div>

    <div class="footer">
        <h1 style ="text-align: center">Educuation</h1></div>
    </div>

    <div class="row">
        <div class="main">
            <p1>Bachelors of Computer Science: Current Student as University of Colorado in Colorado Springs <br>GPA: 3.97</p1>
            <p1><br><br>Associates of Science: Earned from Pikes Peak Community College in 2019</p1>
            <p1><br><br>Highschool Diploma: Earned from Pikes Peak Early College and SSAE in 2018 <br>wGPA:4.45</p1>
        </div>
        <div class="side" style="border-left-style: hidden"> 
            <h1 style="text-align: center;">Awards</h1>
            <p1>Presidents List at University of Colorado: Colorado Springs for Fall 2021 and 2020</p1>
            <p1><br><br>Presidents List at Pikes Peak Community College Springs for Spring 2019</p1>
            <p1><br><br>Academic Scholar Award at SSAE for the graduating class of 2018</p1>
        </div>
    </div>
  
    </body>
</body>
</html>