<!DOCTYPE html>

<html>
    <head> 
        <title>My Projects</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body style = "margin:0;">

        <div class="header">
            <img src="/img/RoundHeadshot.png" style="vertical-align:middle;border-color: #01395a;border-radius: 50% !important;" width = "128" height = "128" alt="Email">
            <h1>I am Seaghan Ennis, Software Developer</h1>
            <!--<img src="/img/Headshot.png" alt="Photo" width = "162" height = "217" style="vertical-align:middle">-->
        </div> 

        <div class="navbar" style="border-bottom-width: 20px;">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">My Projects</a></li>
                <li><a href="/" float="inline-start" left="50%">Hire Me</a></li>
            </ul>
    
        </div>

        <div class="row">
            <div class="mainP">
                <h1>A Compiler Written in Java</h1>
                <p>Specifications: <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul></p>
                <p>GitHub Repository/Full Code: </p>
            </div>
            <div class="sideP">
                <h2>How It Was Made</h2>
            </div>

        </div>

        <div class="row">
            <div class="mainP">
                <h1>Invoice Formatter</h1>
                <p>Specifications: <ul>
                    <li>Use Python and Python-Docx</li>
                    <li>Able to read and parse awkward inputs</li>
                    <li>Be able to change formmating, spacing, font size and type</li>
                    <li>The total for services rendered and automatically apply discounts</li>
                </ul></p>
                <p>GitHub Repository/Full Code: <a href="https://github.com/seaghan2000/invoice-formatter"><img src="/img/GitHub.png" style="vertical-align:middle" width = "32" height = "32" alt="GitHub"></a></p>
            </div>
            <div class="sideP">
                <h2>How It Was Made</h2>
            </div>

        </div>

        <div class="row">
            <div class="mainP">
                <h1></h1>
                <p>Specifications: <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul></p>
                <p>GitHub Repository/Full Code: </p>
            </div>
            <div class="sideP">
                <h2>How It Was Made</h2>
            </div>

        </div>

        <div class="row">
            <div class="mainP">
                <h1>This Resume Website</h1>
                <p>Specifications: <ul>
                    <li>Run using Node.js</li>
                    <li>Hosted on my own domain</li>
                    <li>Multiple pages using HTML/CSS</li>
                    <li>Avoid using Bootstrap or other similar services</li>
                </ul></p>
                <p>GitHub Repository/Full Code:<a href="https://github.com/seaghan2000/website" style="text-decoration: none;"> &ensp; <img src="/img/GitHub.png" style="vertical-align:middle" width = "32" height = "32" alt="GitHub"></a></p></p>
            </div>
            <div class="sideP">
                <h2>How It Was Made</h2>
            </div>

        </div>

        <div class="footer">
            <h1 style ="text-align: center">Find or Contact Me On</h1>
            <a href="https://github.com/seaghan2000"  style="text-decoration: none;vertical-align:middle"><img src="/img/GitHub.png" style="vertical-align:middle" width = "64" height = "64" alt="GitHub">&ensp;</a>
                <a href="https://www.facebook.com/seaghan.ennis" style="text-decoration: none;vertical-align:middle"><img src="/img/Facebook.png" style="vertical-align:middle" width = "64" height = "64" alt="Instagram">&ensp;</a>
                <a href="https://www.instagram.com/seaghanennis/?hl=en" style="text-decoration: none;vertical-align:middle"><img src="/img/Instagram.png" style="vertical-align:middle" width = "64" height = "64" alt="Instagram">&ensp;</a>
                <a href="https://www.linkedin.com/in/seaghan-ennis" style="text-decoration: none;vertical-align:middle"><img src="/img/LinkedIn.png" style="vertical-align:middle" width = "64" height = "64" alt="LinkedIn">&ensp;</a>
                <a href="mailto:seaghan00@gmail.com" style="text-decoration: none;"><img src="/img/EmailAlt.png" style="vertical-align:middle" width = "64" height = "64" alt="Email">&ensp;</a>
        </div>


    </body>


</html>
