<!DOCTYPE html>

<html>
    <head> 
        <title>My Projects</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body style = "margin:0;">

        <div class="header">
            <h1>Greetings, I am Seaghan Ennis</h1>
            <p>Software Developer</p>
            <!--<img src="/img/Headshot.png" alt="Photo" width = "162" height = "217" style="vertical-align:middle">-->
        </div> 

        <div class="navbar" style="border-bottom-width: 5px;">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">My Projects</a></li>
                <li><a href="/" float="inline-start" left="50%">Hire Me</a></li>
            </ul>
    
        </div>

        <div class="row">
            <div class="sideHalf">
                <h1>A Compiler Written in Java</h1>
                <p>Specifications: </p>
                <p>GitHub Repository/Full Code: </p>
            </div>
            <div class="mainHalf">
                <h2>How It Was Made</h2>
            </div>

        </div>

        <div class="row">
            <div class="mainHalf">
                <h1></h1>
                <p>Specifications: </p>
                <p>GitHub Repository/Full Code: </p>
            </div>
            <div class="sideHalf">
                <h2>How It Was Made</h2>
            </div>

        </div>

        <div class="row">
            <div class="sideHalf">
                <h1></h1>
                <p>Specifications: </p>
                <p>GitHub Repository/Full Code: </p>
            </div>
            <div class="mainHalf">
                <h2>How It Was Made</h2>
            </div>

        </div>

        <div class="row">
            <div class="mainHalf">
                <h1>This Resume Website</h1>
                <p>Specifications: </p>
                <p>GitHub Repository/Full Code: </p>
            </div>
            <div class="sideHalf">
                <h2>How It Was Made</h2>
            </div>

        </div>


    </body>


</html>
